<link rel="stylesheet" href="/css/banner.css">
<header class="topHead">
    <div class="contain">
        <div class="intC">
            <div class="buttonsCont">
                <button class="redir" onclick="location.href='/'">Home</button>
                <button class="redir" onclick="location.href='/allJobs'">All Issues</button>
                <button class="redir" onclick="location.href='/companies'">Companies</button>
                <button class="redir" onclick="location.href='/alljobs'">All Jobs</button>
                <% if (isManager) { %>
                    <button class="redir" onclick="location.href='/post'">Create a Company</button>
                <% } %>
                    <% if (typeof fb_id !== 'undefined' && fb_id) { %>
                        <button class="redir" onclick="location.href='/profile'">Profile</button>
                    <% } %>
            </div>
            <input type="text" id="searchbar" placeholder="Search...">
        </div>
    </div>
    <hr class="tophr">
</header>