<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="JukeBar">
        <h2>JukeBar</h2>
        <p>JukeBar is a music player for the class room where you can pay for songs.</p>
    </div>

    <div id="Formbar">
        <h2>Formbar</h2>
        <p>Formbar is a classroom management tool. Allowing polls and voting.</p>
    </div>

    <div id="PoggleBar">
        <h2>PoggleBar</h2>
        <p>Pogglebar</p>
    </div>

</body>
</html>