<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">   
</head>
<body>
    <main class="bob">
        <h1 class="site-title">Welcome to JobBar</h1>
        <div class="button-row">
            <button id="companies" class="btn btn-primary" onclick="location.href='/companies'">Companies Page</button>
        </div>
    </main>
</body>
</html>